[submodule "test/zoo/jtbr.endianness"]
	path = test/zoo/jtbr.endianness
	url = https://gist.github.com/7a43e6281e6cca353b33ee501421860c.git
	branch = master
[submodule "test/zoo/lammertb.libcrc"]
	path = test/zoo/lammertb.libcrc
	url = https://github.com/lammertb/libcrc.git
	branch = master

[submodule "test/zoo/thinnect.node-platform"]
	path = test/zoo/thinnect.node-platform
	url = https://github.com/thinnect/node-platform.git
	branch = master
